node_modules
.env
node_modules/

# DOTENV ENVIRONMENT VARIABLE FILES
.env
.env.*.local

.yarn-lock

.eslintcache

.node_repl_history

# OUT OF 'NPM PACK'
*.tgz

# YARN INTEGRITY FILE
.yarn-integrity

# NEXT.JS BUILD OUTPUT
.next