

<form action="/api/v2/auth/sign-in" method="POST">
  <input type="text" name="username" id="">

  <input type="password" name="password" placeholder="Password...">

  <button type="submit">Submit</button>
</form>